
// Body
$body-bg: #f8fafc;
//zoom image class
// .card-img-top {
//   transition: transform .2s; /* Animation */
//   height: 300px;
//   width: 300px;
//   margin: 0 auto;
//   // padding: 10px;
// }

// .card-img-top:hover {
//   transform: scale(1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
// }

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$fa-font-path: "../webfonts";


// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
